.hero-list-section-container {
    display: flex;
    justify-content: space-between;
    min-height: 1200px;

    .hero-list-section {
        width: 400px;
    }
}

.hero-list {
  display: flex;
  flex-wrap: wrap;

  & > .loading-icon {
    display: flex;
    justify-content: center;
    width: 100%;

    & > svg {
      width: 100px;
      height: 100px;
    }
  }
}

.hero-link {
    flex-grow: 1;
  flex-shrink: 1;
  
//   width: 0;
//   transition: all 3s;

//   &.hidden {
//     // animation-name: example2;
//     // animation-duration: 2s;
//   }

//   &.visible {

//     // animation-name: example;
//     // animation-duration: 2s;

//     // animation-direction: reverse;
//     flex-grow: 1;
//     width: 100px;
//   }

  & > a > img {
    width: 100px;
    transition: all 0.2 ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
  }
}


// Styles for hero filter animations

.hero-list-section-container {
    .hero-list-section {
        transition: all 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        overflow: hidden;
    }

    &.str {
        .str {
            width: 100%;
        }
        .agi { 
            width: 0px;
        }
        .int {
            width: 0px;
        }
    }

    &.agi {
        .str {
            width: 0px;
        }
        .agi { 
            width: 100%;
        }
        .int {
            width: 0px;
        }
    }

    &.int {
        .str {
            width: 0px;
        }
        .agi { 
            width: 0px;
        }
        .int {
            width: 100%;
        }
    }
}